.f-stylish {
  font-family: cursive !important;
}

.h-effect1:hover {
  opacity: 0.9;
  border-radius: 10px;
}

.h-effect-2 {
  color: aliceblue !important;
}

.h-effect-2:hover {
  color: rgb(17, 118, 220) !important;
}

.h-40vh {
  height: 40vh;
}

@media (max-width: 770px) {
  .h-40vh {
    height: 20vh !important;
  }
  .zoom-hover:hover {
    width: 120% !important;
    height: 25vh;
  }
}

.zoom-hover:hover {
  width: 120% !important;
  height: 45vh;
}
