@font-face {
  font-family: "SF Pro Display";
  src: url("path/to/font/SFProDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* You can define additional styles for different font weights and styles */

@font-face {
  font-family: "SF Pro Display";
  src: url("path/to/font/SFProDisplay-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.f-stylish {
  font-family: cursive !important;
}

.h-effect1:hover {
  opacity: 0.9;
  border-radius: 10px;
}

.h-effect-2 {
  color: aliceblue !important;
}

.h-effect-2:hover {
  color: rgb(17, 118, 220) !important;
}

.h-40vh {
  height: 40vh;
}

@media (max-width: 770px) {
  .h-40vh {
    height: 20vh !important;
  }
}

.sf-font {
  font-family: "SF Pro Display", sans-serif !important;
}

.poppins-font {
  font-family: "Poppins", Arial, sans-serif;
}

.txt-steel-blue {
  color: steelblue !important;
}

.zoom-hover:hover {
  transform: scale(1.1);
}

.zoom-hover-2:hover {
  transform: scale(1.2) !important;
}

.btn-bn-hp {
  border-radius: 20px;
  margin-left: 30%;
}

.hd-btn:hover {
  background-color: #d5ae82 !important;
  border-color: #d5ae82 !important;
}

/* whatsapp start */
.float-w {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 10px;
  background-color: #25d366;
  color: #fff !important;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float-w:hover .my-float-w {
  color: #008bfd;
}

.my-float-w {
  margin-top: 16px;
}
/* whatsapp end */
