@font-face {
  font-family: "SF Pro Display";
  src: url("path/to/font/SFProDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* You can define additional styles for different font weights and styles */

@font-face {
  font-family: "SF Pro Display";
  src: url("path/to/font/SFProDisplay-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.f-stylish {
  font-family: cursive !important;
}

.h-effect1:hover {
  opacity: 0.9;
  border-radius: 10px;
}

.h-effect-2 {
  color: aliceblue !important;
}

.h-effect-2:hover {
  color: rgb(17, 118, 220) !important;
}

.h-40vh {
  height: 40vh;
}

@media (max-width: 770px) {
  .h-40vh {
    height: 20vh !important;
  }
}

.cursive-font {
  font-family: "SF Pro Display", sans-serif !important;
}

.zoom-hover:hover {
  transform: scale(1.1);
}
