/* goa tour package btn start*/
.btn-tour-packages {
  padding: 10px 19px !important;
  background-color: #004375 !important;
  color: white !important;
}
.btn-tour-packages:hover {
  background-color: #035390 !important;
}
@media (max-width: 767.98px) {
  .btn-tour-packages {
    padding: 7px 14px;
  }
}
/* goa tour package btn end */

/* goa tour package offer start*/
@media (max-width: 767.98px) {
  .goa-tour-package-sale {
    margin-left: 12rem !important;
  }
}
/* goa tour package offer end*/
