/* goa tour package btn start*/
.btn-tour-packages {
  padding: 10px 19px !important;
  background-color: #004375 !important;
  color: white !important;
}
.btn-tour-packages:hover {
  background-color: #035390 !important;
}
@media (max-width: 767.98px) {
  .btn-tour-packages {
    padding: 7px 14px;
  }
}
/* goa tour package btn end */

/* goa tour package offer start*/
@media (max-width: 767.98px) {
  .goa-tour-package-sale {
    margin-left: 12rem !important;
  }
}
/* goa tour package offer end*/

/* price color start */
.price-color {
  color: #004375 !important;
}
/* price color end */

/* minimum width 100 on laptop screen start */
@media (min-width: 767.98px) {
  .wf-l {
    width: 19vw;
    margin: auto auto;
  }
}
@media (min-width: 800px) {
  .wf-l {
    width: 19vw;
    margin: auto auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .wf-l {
    width: 19vw;
    margin: auto auto;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .wf-l {
    width: 19vw;
    margin: auto auto;
  }
}
/* minimum width 100 on laptop screen end */

/* background position center and size contain start */
.bg-center-contain {
  background-position: center !important;
  background-size: cover !important;
}
/* background position center and size contain end */
